*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #232323;
    color: #ffffff;
    font-family: crossorigin, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:75px;
    background-color: #510505;
}
nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin:0 23px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.80rem;
    padding-left: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover{
    color: #b43f3f;
    font-size: 0.95rem;
}
.left{
    font-size: 1.5rem;
}
.first-section{
    display: flex;
    justify-content: space-around;
    margin: 120px 0;
    align-items: center;
}

.first-section > div{
    width: 30%;
}

.left-section{
    margin: 30px 0;
}
.left-section h1{
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
.left-section p{
    font-size: 1.5rem;
    color: #ffffff;
    padding-bottom: 1rem;
}
#element{
    color: rgb(162, 48, 191);
    font-size: 1.95rem;
}
.left-section button{
    padding: 10px 20px;
    background-color: #510505;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.right-section{
    background-color: rgb(53, 49, 49);
}
.right-section img{
    width: 80%;
}

.second-section{
    max-width: 80vw;
    margin:auto;
    height: 80vh;
}
.second-section h1{
    font-size: 1.65rem;
    /* text-align: center; */
    font-weight: 700;
    padding-bottom: 1.5rem;
}
.second-section.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.line{
    color: gray;
}
hr{
    margin: 50px 84px;
    border: 0;
    border-top: 3px solid #4f0b0b;
    height: 1.2px;
}